.list_items {
  margin-left: 270px;
}

ul li {
  margin-right: 22px;
}

.carousel_description {
  margin-bottom: 100px;
}

.discover_title {
  font-size: 60px;
}

.last_part {
  background-color: black;
}

.icons {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  margin-right: 30px;
}

.icons:hover {
  transform: rotate(360deg);
}
